<%= form_with model: @task, class: 'edit-task' do |t| %>
  <p>Let's update your Task in the TaskList! Update as little or as much information as you'd like:</p>

  <%= t.label :name %>
  <%= t.text_field :name %>

  <%= t.label :description %>
  <%= t.text_field :description %>

  <%= t.label :due_date %>
  <%= t.date_field :due_date %>

  <%= t.submit "Save Changes", class: "task-button" %>
<% end %>
