<h2 class="task_name"><%= @task.name %></h2>
<ul class="show_task">
  <li class="task_description">
    <strong>Description:</strong> <%=@task.description%>
  </li>
  <li class="task_due_date">
     <strong>Due Date:</strong> <%=@task.due_date%>
  </li>
  <li class="task_status">
     <strong>Status:</strong> <%  if @task.completed? %>
                  <strong class="done">Crushed It! I'm a little bit impressed.</strong>
                <% else %>
                  <strong>Not Complete, but we support you.</strong>
                <%end%>
  </li>

  <%  if @task.completed? %>
  <li class="completion_date">
    Completion Date: <%= @task.completion_date %>            
  </li>
  <%end%>
</ul>



<footer class="show_footer">
  <%= link_to "Edit Task", edit_task_path(@task.id)%>
  <%= link_to 'Delete Task', task_path(@task.id), method: :delete, data: { confirm: 'Are you sure?' } %> 
  <%= link_to "Back to Tasks", "/tasks"%>
</footer>

