<!DOCTYPE html>
<html>
  <head>
    <title>Up to the Task</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <main>
    <header>
      <div class="container">
        <h1>Up To The Task</h1>
        <h2 class="secondary">Goal-Setting for the Overacheiver Hiding Deep Inside You</h2>
      </div>
    </header>
      <% flash.each do |key, value| %>
        <div class="alert alert -<%=key %>"><%=value%></div>
    <% end %>
    <%= yield %>
  </main>
  </body>
</html>
